@charset "UTF-8";
/* 全体設定 */
html {
	max-width: 100%;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
img {
  max-width: 100%;
}
main hr {
	position: relative;
	background-color: black;
	height: 1px;
	width: 10%;
	bottom: -8px;
}
main hr div {
	margin-top: none;
}
div.block ,
div.slim-block {
	margin-bottom: 100px;
}
/* ヘッダー */
div.header-img{
  background-image: url('images/nav-img.jpg');
  background-size: cover;
  background-position: center
  box-sizing:border-box;
  height: 380px;
  padding-left: 50px;
  display:flex;
  align-items: flex-end;
}
div.header-img h1 {
  color:white;
	display:block;
	max-width: 820px;
	margin-left: auto;
	margin-right: auto;
}
/****** メイン ******/
div.block h2 {
	text-align: center;
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 40px;
}
.section-block {
	margin: 40px 0;
}
.section-block h3{
	font-size: 25px;
}
.section-block p {
	margin-top: 20px;
	color: dimgray;
}
.wide-section {
	margin: 40px 0;
}
/* フォーム */
div.hotel-form p.form-title {
	font-size: 18px;
	margin-top: 20px;
}
div.form-row {
	margin: 5px 0;
	height: 50px;
}
div.form-row input {
	width: 100%;
	height: 90%;
	border: 1px solid lightgray;
	color: gray;
}
div.form-row select {
	width: 100%;
	height: 90%;
	margin-top: auto;
	margin-bottom: auto;
	border: 1px solid lightgray;
	color: gray;
}
div.hotel-form input[type='text'] ,
div.hotel-form select {
	color: gray;
	border-radius: 5px;
}
button#start{
  background-color: #e31c5f;
  border:none;
	border-radius: 5px;
  color: white;
  width:100%;
	margin: 30px 0 20px 0;
  padding: 10px ;
}
/* 3ステップでホスティング */
div.step-three::before {
	position: relative;
	top: -16px;
	font-size: 48px;
}
/* 人物紹介*/
div.people-intro div {
	margin : 20px 0;
}
.people-intro p {
	width: 80%;
	margin-top:20px;
	font-size: 35px;
	color: dimgray;
	font-weight: 400;
}
.people-intro a {
	display: block;
	width: 220px;
	padding: 8px 0;
	text-align:center;
	border: 2px solid black;
	border-radius:5px;
	color:black;
}
div.people-intro div.fa-quote-left:before{
	font-size: 35px;
	color: orange;
}
p.cl-gray {
	font-size: 14px;
  color: gray;
}
p.impression {
	font-style: bold;
}
/* 万一の時説明蘭 */
ul.list-chk {
	margin: 40px 0;
}
ul.list-chk li{
	width:100%;
	font-weight: normal;
}
ul.list-chk li:not(:first-child) {
	margin-top: 30px;
}
ul.list-chk .fa-check::before{
	color: skyblue;
	margin-right: 25px;
	font-weight: 550;
}
/* よくある質問 */
div.faq div.li {
	list-style: none;
	border-bottom: 0.2px solid lightgray;
	margin-top: 30px;
	padding-bottom: 30px;
}
/* 詳細 */
div.details-card {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: 0.5px solid lightgray;
}
div.details-card img{
	width: 100%;
	height: auto;
}
div.details h2 {
	font-size: 25px;
	font-style: bold;
	text-align: left;
}
div.details h3 {
	font-size: 14px;
	margin: 5px 0 0 5px;
	font-weight: 500;
}
div.details p {
	margin: 2px 8px 5px 8px;
	font-size: 14px;
	color: dimgray;
}
/* フッター */
div.footer-img{
  background-image: url('images/footer-img.jpg');
  background-size:cover;
  width:100%;
  height:400px;
}
div.monetization{
	position: relative;
	top: 100px;
	left: 190px;
	min-width: 680px;
}
div.footer-img h2 {
	font-size: 60px;
	width: 430px;
  color: white;
}
div.footer-img button {
	border-style: none;
	border-radius: 3px;
	margin-top: 20px;
	padding: 10px 20px;
}
div.guide {
	display: flex;
	flex-wrap;
}
div.footer-menu {
	padding-left: 0;
	padding-right: 0;
}
footer div.guide ul {
	list-style: none;
	width: 100%;
	padding-right: 20px;
	padding-left: 12px;
	display: flex;
	flex-wrap: wrap;
}
footer li {
	width: 250px;
	padding-right: 0;
	margin: 7px 0;
}
footer h4 {
	margin-top: 50px;
	font-size: 16px;
	font-weight: 600;
}
footer a {
	color: dimgray;
	font-size: 14px;
}
div.copyright {
	text-align:left;
	display: flex;
	flex-direction: row-reverse;
	padding-left: 30px;
}
div.copyright i {
	margin: 0 15px;
}
div.copyright a.lang {
	margin: 0 15px;
	color: black;
	text-decoration: underline;
}
div.copyright a.lang::before{
	text-decoration: none!important;
	margin-right: 15px;
}
/****** レスポンシブ ******/
@media screen and ( max-width:980px) {
	div.wrapper {
	  max-width: 680px;
	}
	main h2{
		font-size: 40px;
	}
	div.section-block {
		width: 648px;
		margin-left: auto;
		margin-bottom: auto;
	}
	/* 人物紹介 */
	div.people-intro p {
		width: 100%;
		margin-top:20px;
		font-size: 19px;
	}
	div.people-intro div.fa-quote-left:before{
		font-size: 20px;
		color: orange;
	}
	/* フッター */
	div.copyright {
		text-align: center;
		margin-bottom: 20px;
	}
}
